
      <div *ngIf="!submitted" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
            <span>×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel"><b>Confirm Student Paid Amount</b></h4>
        </div>
    
        <div class="modal-body">
          <p>Loan Applicant - {{UserData.FirstName}} {{UserData.LastName}}</p>
          
        <form>
            <div class="row">
                  <div class="col-md-5 mt-2">
                    <label>Enter Amount Student Paid:</label>
                  </div>
                  <div class="col-md-6 offset-1">
                  <div class="md-form">
                    <input type="number" id="inputMDEx" class="form-control" [formControl]="amountStudentPaid">
                    <label for="inputMDEx">Amount</label>
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-5 mt-4">
                <label>Confirmed By: </label>
              </div>
              <div class="col-md-6">
                <div class="md-form">
                  <i class="fas fa-user prefix"></i>
                  <input type="text" id="inputIconEx2" class="form-control" [formControl]="signedName" required>
                  <label for="inputIconEx2">Your Name</label>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col"> <button [disabled]="amountStudentPaid.invalid || signedName.invalid" data-toggle="modal" data-target="#centralModalSuccess" type="submit" class="btn btn-primary" (click)="onPay()">Mark as Paid</button></div>
            </div>
        
        </form>
        </div>
  </div>

  <div *ngIf="submitted" class="modal-content animated fadeIn faster">
    <div class="modal-header successya z-depth-1" >
      <h4 class="modal-title w-100" id="myModalLabel"><b>Confirm Student Paid Amount</b></h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModalSuccess()">
        <span style="color:#ffffff;">×</span>
      </button>
    </div>

    <div class="modal-body mt-5 mb-5 animated bounce">
      <div class="row">
        <div class="col-md-6 offset-3 text-center">
          <i style="color:#32CD32;" class="fas fa-check-circle fa-5x"></i>
        </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6 offset-3 text-center">
        <p style="font-size: 24px; font-weight:400">Successfully Marked Student Paid!</p>
      </div>
    </div>
    </div>
</div>

