
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
      <a class="navbar-brand" href="#">SmartiFi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" [routerLink]="'/home'">Home </a>
          <a class="navbar-item" [routerLink]="'/loandash'"> Dashboard </a>
          <a class="navabr-item" [routerLink]="'/showapplications'"> Open Loan Applications </a>
          <a class="navabr-item" [routerLink]="'/createloan'"> Create a Loan </a>

        </div>
      </div>
    </div>
    </nav>
