<app-header></app-header>
<section>
<div class="container">
  <form [formGroup]="loanApplicationForm" (ngSubmit)="onSubmit()" novalidate>
<!-- This is a comment to test git push -->
<!-- Removing email input since we already have their MSU email -->
    <!-- <div class="row justify-content-center" formGroupName="personalData">
      <div class="col-5">
        <div class="md-form input-group mb-2">
          <input type="text" class="form-control mb-4"  placeholder="Your MSU netID" aria-label="Your MSU netID" formControlName="email" aria-describedby="material-addon2">
          <div class="input-group-append">
            <span class="input-group-text md-addon" id="material-addon2">@msu.edu</span>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row justify-content-center" formGroupName="personalData">
      <div class="col-5">
        <div class="md-form input-group mb-2">
          
          <input type="text" class="form-control mb-4" placeholder="Phone Number" formControlName="mobile">
        </div>
      </div>
    </div>

    <div class="row justify-content-center" formGroupName="loanData">
      <div class="col-5">
        <label class="mdb-main-label">Which loan are you applying for?</label>
        
          
          <select class="browser-default  custom-select" formControlName="transferType" label="How do you want to be paid?">
            <option *ngFor="let transfer of transferTypes" [value]="transfer">{{transfer}}</option>
          </select> 
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-5">
        <label class="mdb-main-label">How do you want to be paid?</label>
        <select class="browser-default  custom-select" formControlName="transferType">
          <option *ngFor="let transfer of transferTypes" [value]="transfer">{{transfer}}</option>
        </select> 
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <button class="btn btn-primary">Submit Application</button>
    </div>
    <br>
  </form>
</div>

</section>