<app-header></app-header>
<section>
<div *ngIf="!alreadyApplied" class="container">
  <div *ngIf = "submitted" class="row">
    <app-success></app-success>
  </div>
  <form *ngIf = "!submitted" novalidate>
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="md-form input-group mb-2">
          
          <input mdbInput mdbValidate type="text" id="form3" class="form-control mb-4" [formControl]="mobile" mask="000-000-0000">
          <label for="form3">Phone Number</label>

        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="md-form input-group mb-2">
          
          <input type="text" class="form-control mb-4" placeholder="Drivers License" [formControl]="license" required>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-5">
        <div class="md-form input-group mb-2">
          
          <input type="text" class="form-control mb-4" placeholder="APID" [formControl]="apid" required>
        </div>
      </div>
    </div>

    

    <div class="row justify-content-center">
      <div class="col-5">
        <label class="mdb-main-label">Which loan are you applying for?</label>
        
          
          <select name="loan" class="browser-default  custom-select" #selectedLoan>
            <option *ngFor="let loan of loans" [value]="loan.LoanName">{{loan.LoanName}}</option>
          </select> 
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-5">
        <label class="mdb-main-label">How do you want to be paid?</label>
        <select class="browser-default  custom-select" [formControl]="transferType">
          <option *ngFor="let transfer of transferTypes" [value]="transfer">{{transfer}}</option>
        </select> 
      </div>
    </div>

    <div *ngIf="transferType.value == 'Direct Transfer To Your Bank Account'" class="row justify-content-center">
      <div class="col-5">
        <div class="md-form input-group mb-2">
          
          <input mdbInput mdbValidate type="text" id="form4" class="form-control mb-4" [formControl]="bankaccount">
          <label for="form4">Bank Account Number</label>

        </div>
      </div>
    </div>
    <div *ngIf="transferType.value == 'Direct Transfer To Your Bank Account'" class="row justify-content-center">
      <div class="col-5">
        <div class="md-form input-group mb-2">
          
          <input mdbInput mdbValidate type="text" id="form5" class="form-control mb-4" [formControl]="routing" mask="000000000">
          <label for="form5">Routing Number</label>

        </div>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <button type="button " [disabled]="apid.invalid || license.invalid || transferType.invalid || mobile.invalid || (routing.invalid && transferType.value == 'Direct Transfer To Your Bank Account') || (transferType.value == 'Direct Transfer To Your Bank Account' && bankaccount.invalid)"
       (click)="onSubmit(selectedLoan.value)" class="btn btn-primary">Submit Application</button>
    </div>
    <br>
  </form>
</div>

<div *ngIf="alreadyApplied" class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h2>Already Applied for a Loan!</h2>
    </div>
    
  </div>
</div>

</section>