<app-header></app-header>
<section>
<div class="container">
<div *ngIf="!login" class="row">
    <div class="pull-right">   
    <a (click) = "role($event)" class="mr-5" [routerLink]="'/login'">Student Login</a>
    <a (click)="role($event)" [routerLink]="'/login'">Lender Login</a>
    </div>  
</div>
<div *ngIf="login" class="row">
    <div class="pull-right">   
    <a class="mr-5" [routerLink]="'/logout'">Logout</a>
</div>
</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12 text-center mt-5">
            <h2>Welcome to <span class="smartifi-primary">SmartiFi</span></h2>
            <p class="lead">A Student Loans Platform</p>
        </div>
        <div class="col-md-12 text-center gap">
            <p class="lead">Student? Sign up <a class="smartifi-primary" (click) = "role($event)" [routerLink]="'/register'">here</a></p>
        </div>
    </div>
</div>
</section>