<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartiFi - Application Update</title>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <h3>Dear {{FirstName}} {{LastName}},</h3>
    </div>
    <br>
    <p>Thank you for taking the time to fill out your application with SmartiFi.</p>
    <p>Great news! Your loan application has been accepted!</p>
    <p>The loan you applied for was the {{LoanName}} with the amount of ${{LoanAmount}}.00</p>
    <p>Thank you for your time,</p>
    <br>
    <p>
        SmartiFi Team
    </p>
</div>
</body>
</html>