<app-header></app-header>
<section>
<div class="container">
  <h2>
    Welcome {{email}},
  </h2>
</div>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div style="height: 10rem;" class="card">
        <div class="card-header">
          Loan Status
        </div>
        <div class="card-body">
        <h4 class="card-title">
          <span [ngClass]="{
            'color-red': LoanStatus==='REJECTED',
            'color-green': LoanStatus==='APPROVED',
            'color-yellow': LoanStatus==='PENDING'
          }">{{LoanStatus}}</span></h4>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <div style="height: 10rem;" class="card">
        <div *ngIf="LoanStatus==='PENDING'" class="card-header">
          Loan on Application
        </div>
        <div *ngIf="LoanStatus==='APPROVED'" class="card-header">
          Loan Issued
        </div>
        <div *ngIf="LoanStatus==='REJECTED'" class="card-header">
          Loan Rejected
        </div>
        <div *ngIf="LoanStatus!=='REJECTED' && LoanStatus!=='APPROVED' && LoanStatus!=='PENDING'" class="card-header">
          Loan Issued
        </div>
        <div class="card-body">
        <h4 class="card-title">
          {{LoanIssued}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="LoanStatus==='APPROVED'" class="container">
  <p><b>Next Payment Due Date:</b> {{NextPayment}}</p>
  <p><b>Amount Due: </b>{{AmountDue}}</p>
  <p><b>Payment Status:</b> {{isPaid}}</p>
  <p class="lead"><a href="https://commerce.cashnet.com/cashneti/selfserve/BrowseCatalog.aspx" target="_blank"><button class="btn btn-primary">Pay Now</button></a></p>
</div>
<div class="container gap">
  <h3>Learn More</h3>
</div>
<div class="container">
  <div class="col-md-4">
    <p>Coming Soon</p>
  </div>
</div>
</section>