.color-yellow {
    color: yellow;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.color-green {
    color: green;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.color-red {
    color: red;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}


.loan-background {
    background-color: rgba(0,0,0,0.6) !important;
    background-image: url(../../img/tower-1.jpg);
    background-blend-mode: color;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.expand {
    transition: transform .5s;
}
.expand:hover {
    transform: scale(1.02);
}
