<div class="container">
<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1>Loan Dashboard</h1>
        </div>
        <div class="col-md-3">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Select Lender
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">a1b2c3</a>
                  <a class="dropdown-item" href="#">1a2b3c</a>
                </div>
              </div>
        </div>
    </div>
</div>

</div>

