@font-face {
    font-family: 'Charter Regular';
    src: url('assets/fonts/charter_regular-webfont.eot');
    src: url('assets/fonts/charter_regular-webfont.woff') format('woff'),
    url('assets/fonts/charter_regular-webfont.eot') format('embedded-opentype'),
    url('assets/fonts/charter_regular-webfont.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
}


.card {
    margin-top: 1em;
    margin-bottom: 1em;
    min-height: 10em;
}
.tall-card {
    height: 20em;
    min-width: 30%;
}
h4.card-title-num {
    font-weight: bold;
}

.bg-blue {
    background: #4056F4;
    color: white;
}

.bg-green {
    background: #379392;
    color: white;
}

.bg-purple {
    background: #231651;
    color: white;
}

.card-body {
    font-family: futura-pt, sans-serif;

    font-weight: 400;

    font-style: normal;

    font-size: 1.2rem;
}

.card-header {
    font-family: futura-pt, sans-serif;

    font-weight: 700;

    font-style: normal;

    font-size: 1.25rem;
}


