/* You can add global styles to this file, and also import other style files */
body {
    background-color: #eee;
  }

.navbar {
    background-color: #303FC2;
}

.table > tbody > tr > td {
  vertical-align: middle;
}